body{
 
    background:linear-gradient( rgb(37, 93, 114), rgb(65, 126, 126), rgb(66, 116, 129),rgb(29, 106, 125) );
    background-repeat:no-repeat ;
    height: 100%;
    margin: 0;
    background-attachment: fixed ;
}
h1{
    color: rgb(255, 255, 255);
   background-color: rgb(4, 64, 65);
    font-size: 70px;
}
h2{
   color: rgb(255, 255, 255);
    font-size:40px ;
}
p{
   color: rgb(255, 255, 255);
    font-size:23px ;
}
a{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
li{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.cajita{
    border: 10px;
    border-radius: 10px;
    background-color: rgb(28, 102, 114);
    padding: 10px;
    margin: 30px;
    width: 90%;
    
}
.imgen-marco{
    border-width: 10px;
    border-color: rgb(14, 62, 69);
    border-style: ridge;
    border-radius: 1opx;
    text-align: center;
    
    
}
.centro{
    text-align: center;
    color: rgb(214, 215, 215);
    font-size: 25px;
}
.celula{
    border-left: 10px;
    border-color: aqua;
    font-size: 25px;
}