body{
 
    background:linear-gradient( rgb(10, 102, 79), rgb(102, 152, 141), rgb(5, 83, 63),rgb(54, 208, 169) );
    background-repeat:no-repeat ;
    height: 100%;
    margin: 0;
     background-attachment: fixed ;
}
h1{
    color: rgb(255, 255, 255);
   background-color: rgb(9, 63, 49);
    font-size: 70px;
}
h2{
   color: rgb(255, 255, 255);
    font-size:40px ;
}
p{
   color: rgb(255, 255, 255);
    font-size:23px ;
}
a{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
li{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
img{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.cajita{
    border: 10px;
    border-radius: 10px;
    background-color: rgb(40, 109, 90);
    padding: 10px;
    margin: 30px;
    width: 90%;
    
}
.imgen-marco{
    border-width: 10px;
    border-color: rgb(9, 68, 54);
    border-style: ridge;
    border-radius: 1opx;
    text-align: center;
    
    
}
.centro{
    text-align: center;
    color: rgb(214, 215, 215);
    font-size: 25px;
}